.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* categories */

.categories-container {
  text-align: center;
}

.categories-button{
  background-color: #222;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  font-size: 12px;
}

.categories-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories-grid li {
  padding: 10px 15px;
  text-align: left;
}

/* Posts */
.posts-container {
  text-align: center;
}

.posts-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.posts-grid li {
  padding: 10px 15px;
  text-align: left;
}

.posts-box {
  background-color: #222;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
}

/*post list*/

.list-post-title {
  padding: 10px 0;
  background: white;
  text-align: center;
}
.list-post-title h1 {
  font-weight: 100;
  margin: 0;
  color: #222;
  width: 300px;
  height: 80px;
}

.list-post-title-link {
  font-weight: 100;
  color: #222;
  text-decoration: none;
}

/*post*/

.post-container {
  text-align: center;
}

.post-title {
  font-size: 2.5em;
  font-weight: bold;
  padding: 30px;
}

.post-author {
  padding: 0px 30px;
}
.post-author i {
  text-decoration: underline;
}

.post-body {
  font-size: 1.5em;
  font-family: message-box;
  padding: 30px;
}

.post-date{
  font-size: xx-small;
  font-weight: lighter;
}
 /*comments*/

.comments-container{
  text-align: center;
  padding: 50px;
}

.comment-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: inline;
  justify-content: center;
  flex-wrap: wrap;
}

.comment-grid li {
  padding: 20px 55px;
  text-align: center;
}

.comment-container{
  background-color: #222222d4;
  color: white;
  padding: 10px 100px;
  border-radius: 20px;
}

.comment-author {
  font-size: x-small;
  font-weight: lighter;
}

.comment-date {
  font-size: x-small;
  font-weight: lighter;
}

.comment-body {
  font-size: .8em;
  font-family: message-box;
  padding: 10px;
}


